<lobby-sub-page-layout title="Create Intake">
  <main class="flex items-start justify-start mt-10 mb-100">
    <form
      #formRef
      [formGroup]="intakeForm"
      (ngSubmit)="onSubmit()"
      class="w-[80%] space-y-10 px-6 flex flex-col justify-start items-start"
    >
      <requestor-information-form
        class="w-full"
        id="section-0"
        #requestorInformtionRef
        (formChangEvent)="onFormUpdate($event, requestorInformtionRef.formName)"
      ></requestor-information-form>

      <business-context
        class="w-full"
        id="section-1"
        #businessContextRef
        (formChangEvent)="onFormUpdate($event, businessContextRef.formName)"
      ></business-context>

      <project-details-form
        class="w-full"
        id="section-2"
        #projectDetailsRef
        (formChangEvent)="onFormUpdate($event, projectDetailsRef.formName)"
      ></project-details-form>

      <technical-considerations-form
        class="w-full"
        id="section-3"
        #technicalConsiderationsRef
        (formChangEvent)="
          onFormUpdate($event, technicalConsiderationsRef.formName)
        "
      ></technical-considerations-form>

      <data-and-security-form
        class="w-full"
        id="section-4"
        #dataAndSecurityRef
        (formChangEvent)="onFormUpdate($event, dataAndSecurityRef.formName)"
      >
      </data-and-security-form>

      <financial-and-procurement-form
        class="w-full"
        id="section-5"
        #financialAndProcurementRef
        (formChangEvent)="
          onFormUpdate($event, financialAndProcurementRef.formName)
        "
      ></financial-and-procurement-form>

      <timeline-and-delivery
        class="w-full"
        id="section-6"
        #timelineAndDeliveryRef
        (formChangEvent)="onFormUpdate($event, timelineAndDeliveryRef.formName)"
      ></timeline-and-delivery>

      <dependencies-and-approvals-form
        class="w-full"
        id="section-7"
        #dependenciesAndApprovalRef
        (formChangEvent)="
          onFormUpdate($event, dependenciesAndApprovalRef.formName)
        "
      ></dependencies-and-approvals-form>
    </form>

    <app-intake-form-side-controls
      [intakeForm]="intakeForm"
      [controls]="formSections"
    ></app-intake-form-side-controls>
  </main>
</lobby-sub-page-layout>
