<intake-form-card
  title="Data and Secuirty"
  icon="security"
  (formChangEvent)="onFormUpdate($event)"
  [form]="dataAndSecurityForm"
>
  <form
    [formGroup]="dataAndSecurityForm"
    class="flex flex-col items-start justify-start space-y-6"
  >
    <checkbox-group
      class="w-full"
      label="What type of data will be processed/stored?"
      name="dataTypeStored"
      formControlName="dataTypeStored"
      [options]="['Financial', 'HR', 'Operational', 'Public', 'other']"
    ></checkbox-group>

    <div class="w-full flex flex-row items-center justify-start space-x-4">
      <select-input
        class="w-[50%]"
        name="isPersonalInformationInvolved"
        formControlName="isPersonalInformationInvolved"
        label="Is sensitive or personal information involved?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'No', value: 'no' }
        ]"
      />

      <select-input
        class="w-[50%]"
        name="isDataStoreOrTransmitExternally"
        formControlName="isDataStoreOrTransmitExternally"
        label="Does this system store or transmit data externally?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'No', value: 'no' }
        ]"
      />
    </div>

    <select-input
      class="w-full"
      name="dataStorageLocation"
      formControlName="dataStorageLocation"
      label="Where will the data be stored?"
      [options]="[
        { label: 'Canada', value: 'canada' },
        { label: 'USA', value: 'usa' },
        { label: 'Europe', value: 'europe' },
        { label: 'Asia', value: 'asia' }
      ]"
    />

    <div class="w-full flex flex-row items-center justify-start space-x-4">
      <select-input
        class="w-[50%]"
        name="isEncryptionAtRest"
        formControlName="isEncryptionAtRest"
        label="Is encryption at rest require?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'No', value: 'no' }
        ]"
      />
      <select-input
        class="w-[50%]"
        name="isEncryptionInTransit"
        formControlName="isEncryptionInTransit"
        label="Is encryption at in-transit require?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'No', value: 'no' }
        ]"
      />
    </div>

    <checkbox-group
      class="w-full"
      label="Compliance Requirements"
      formControlName="complianceRequirements"
      name="complianceRequirements"
      [options]="[
        'PIEPA',
        'ATIP',
        'GDPR',
        'GC Accesbility',
        'Departmental Policy'
      ]"
    ></checkbox-group>

    <div class="w-full flex flex-row items-center justify-start space-x-4">
      <select-input
        class="w-full"
        name="isSecurityThreatAndRiskAssessment"
        formControlName="isSecurityThreatAndRiskAssessment"
        label="Has a Security Threat and Risk Assessment (STRA) been completed or planned?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'Planned', value: 'planned' },
          { label: 'No', value: 'no' }
        ]"
      />

      <select-input
        class="w-full"
        name="isRemoteAccessRequire"
        formControlName="isRemoteAccessRequire"
        label="Will the solution require secure remote access (e.g., VPN, SSH)?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'No', value: 'no' }
        ]"
      />
    </div>
  </form>
</intake-form-card>
