<div class="h-full">
  <toolbar
    #toolbarRef
    brandName="EASE"
    logo="ease"
    [textColor]="colorPalette().primary"
    [iconColor]="colorPalette().text"
    [backgroundColor]="colorPalette().lighterGray"
    [brandNameItalic]="true"
    [controls]="toolbarControls()"
    [isFixed]="true"
    [isShadow]="false"
  ></toolbar>

  @if (isLoggedIn()) {
  <side-menu
    #sidemenuRef
    [toolbarRef]="toolbarRef"
    [menuItems]="menu"
    menuItemBackgroundColorColor
    [color]="colorPalette().primary"
    [menuItemBackgroundColorColor]="colorPalette().lightGray"
  >
    <router-outlet></router-outlet>
  </side-menu>

  } @else {
  <div
    [ngStyle]="{
      'margin-top': !toolbarRef.isFixed()
        ? '0px'
        : (toolbarRef.toolbarRef()?.nativeElement)!.clientHeight + 'px'
    }"
    class="w-full h-full min-h-screen relative"
  >
    <router-outlet></router-outlet>
  </div>
  }
  <my-footer></my-footer>
</div>
