<div class="h-full  bg-gray-100">

    <toolbar
        #toolbarRef
        brandName="EASE"
        logo="ease"
        [textColor]="easeColors.primary"
        [iconColor]="easeColors.text"
        [brandNameItalic]="true"
        [controls]="toolbarControls"
        [isFixed]="true"
        [isShadow]="false"
    ></toolbar>

    <side-menu
        #sidemenuRef
        [toolbarRef]="toolbarRef"
        [menuItems]="menu"
    >
        <router-outlet></router-outlet>

    </side-menu>

    <my-footer></my-footer>

</div>
