<section
  [ngStyle]="{ backgroundColor: 'var(--background)' }"
  class="w-full py-20 px-6 min-h-screen flex flex-col items-center justify-center"
>
  <div class="max-w-6xl mx-auto text-center">
    <h2
      [ngStyle]="{ color: 'var(--primary)' }"
      class="text-4xl lg:text-5xl font-extrabold mb-24 tracking-tight"
    >
      What People Are Saying
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Testimonial Card 1 -->
      @for (props of cardProps; track $index) {
      <div
        [ngStyle]="{
          backgroundColor: 'var(--background)',
          color: 'var(--text)'
        }"
        class="rounded-xl p-6 shadow-md hover:shadow-lg transition-shadow duration-300 border border-white"
      >
        <p
          [ngStyle]="{ color: 'var(--text)' }"
          class="italic mb-4 relative pl-10"
        >
          <svg-icon
            class="mr-2"
            size="24px"
            color="var(--accent)"
            [name]="props.icon"
          ></svg-icon>

          {{ props.comment }}
        </p>
        <div class="flex items-center justify-center mt-4">
          <img
            src="https://i.pravatar.cc/40?img=8"
            alt="avatar"
            class="w-10 h-10 rounded-full mr-3"
          />
          <div class="text-left">
            <div [ngStyle]="{ color: 'var(--secondary)' }" class="font-bold">
              {{ props.role }}
            </div>
            <div
              [ngStyle]="{ color: 'var(--gray)' }"
              class="text-sm font-semibold"
            >
              {{ props.company }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>

    <!-- Call to action -->
    <div class="mt-12">
      <a
        [ngStyle]="{ color: 'var(--gary)' }"
        href="#more-testimonials"
        class="inline-block hover:underline text-lg font-medium"
      >
        Read more testimonials →
      </a>
    </div>
  </div>
</section>
