<intake-form-card
  title="Technical Considerations"
  icon="tools"
  (formChangEvent)="onFormUpdate($event)"
  [form]="technicalConsiderationsForm"
>
  <form
    [formGroup]="technicalConsiderationsForm"
    class="flex flex-col items-start justify-start space-y-6"
  >
    <select-input
      class="w-full"
      formControlName="anticipatedHostingLocation"
      name="anticipatedHostingLocation"
      label="Anticipated Hosting Location"
      [options]="[
        { label: 'Public Cloud', value: 'publicCloud' },
        {
          label: 'Private Cloud',
          value: 'privateCloud'
        },
        { label: 'On-Premises', value: 'onPremises' },
        {
          label: 'Hybrid',
          value: 'hybrid'
        }
      ]"
    />

    <checkbox-group
      class="w-full"
      formControlName="expectedEnvironments"
      name="expectedEnvironments"
      label="Expected Environment(s)"
      [options]="['Dev', 'Test', 'UAT', 'Prod', 'Sandbox']"
    ></checkbox-group>

    <select-input
      class="w-full"
      formControlName="dataClassificationLevel"
      name="dataClassificationLevel"
      label="Data Classification Level"
      [options]="[
        { label: 'Unclassified', value: 'unclassified' },
        {
          label: 'Protected A',
          value: 'protectedA'
        },
        {
          label: 'Protected B',
          value: 'protectedB'
        },
        {
          label: 'Protected C',
          value: 'protectedC'
        },
        { label: 'Classified', value: 'classified' }
      ]"
    />

    <textaera-input
      class="w-full"
      label="Integration Requirements"
      name="integrationRequirements"
      formControlName="integrationRequirements"
    ></textaera-input>

    <select-input
      class="w-full"
      formControlName="authenticationAndAuthorizationNeeds"
      name="authenticationAndAuthorizationNeeds"
      label="Authentication and Authorization Needs"
      [options]="[
        { label: 'GC Login', value: 'gcLogin' },
        {
          label: 'Azure AD',
          value: 'azureAD'
        },
        {
          label: 'SSO',
          value: 'sso'
        },
        {
          label: 'Other',
          value: 'other'
        }
      ]"
    />

    <textaera-input
      class="w-full"
      label="Elaborate"
      name="authenticationAndAuthorizationNeedsElaborate"
      formControlName="authenticationAndAuthorizationNeedsElaborate"
    ></textaera-input>

    <textaera-input
      class="w-full"
      label="Anticipated Volume or Load"
      name="anticipatedVolumeOrLoad"
      formControlName="anticipatedVolumeOrLoad"
    ></textaera-input>

    <textaera-input
      class="w-full"
      label="Performance or Availability Requirements"
      name="performanceOrAvailibilityRequirements"
      formControlName="performanceOrAvailibilityRequirements"
    ></textaera-input>

    <textaera-input
      class="w-full"
      label="Security Considerations or Constraints"
      name="securityConsiderationsOrConstraints"
      formControlName="securityConsiderationsOrConstraints"
    ></textaera-input>

    <select-input
      class="w-full"
      #disasterRecoverySelectRef
      formControlName="disasterRecoveryBusinessContinuityNeeds"
      name="disasterRecoveryBusinessContinuityNeeds"
      label="Disaster Recovery / Business Continuity Needs"
      [options]="[
        { label: 'Yes', value: 'yes' },
        {
          label: 'No',
          value: 'no'
        }
      ]"
    />

    @if (disasterRecoverySelectRef.value === 'yes') {
    <textaera-input
      class="w-full"
      label="Disaster Recovery / Business Continuity Needs - More"
      name="disasterRecoveryBusinessContinuityNeedsMore"
      formControlName="disasterRecoveryBusinessContinuityNeedsMore"
    ></textaera-input>
    }

    <select-input
      class="w-full"
      formControlName="doesItRequireInternetAccess"
      name="doesItRequireInternetAccess"
      label="Does it require internet access?"
      [options]="[
        { label: 'Yes', value: 'yes' },
        {
          label: 'No',
          value: 'no'
        }
      ]"
    />

    <select-input
      class="w-full"
      #dependecyOnLegacySelectRef
      formControlName="dependencyOnLegacySystems"
      name="dependencyOnLegacySystems"
      label="Dependency on Legacy Systems?"
      [options]="[
        { label: 'Yes', value: 'yes' },
        {
          label: 'No',
          value: 'no'
        }
      ]"
    />

    @if (dependecyOnLegacySelectRef.value === 'yes') {
    <textaera-input
      class="w-full"
      label="Dependency on Legacy Systems? - More"
      name="dependencyOnLegacySystemsMore"
      formControlName="dependencyOnLegacySystemsMore"
    ></textaera-input>
    }

    <div class="w-full flex flex-row items-center justify-start space-x-4">
      <formfield
        class="w-full"
        label="Estimated Data Storage Requirements"
        name="estimatedDataStorageRequirements"
        formControlName="estimatedDataStorageRequirements"
        type="number"
      ></formfield>

      <select-input
        class="w-full"
        formControlName="dataStorageUnit"
        name="dataStorageUnit"
        label="Storage Unit"
        [options]="[
          { label: 'MB', value: 'megabytes' },
          {
            label: 'GB',
            value: 'gigabytes'
          },
          {
            label: 'TB',
            value: 'terabytes'
          }
        ]"
      />
    </div>
  </form>
</intake-form-card>
