<lobby-sub-page-layout title="portfolios">
  <p [ngStyle]="{ color: 'var(--gray)' }" class="text-base mb-8">
    Start a new cloud advisory intake, explore cost estimates, or manage your
    submissions.
  </p>

  @if (portfolios.length === 0) {
  <div
    class="w-full flex flex-col items-center justify-center p-8 border border-dashed border-zinc-300 rounded-md shadow-sm text-center gap-y-4"
  >
    <svg-icon
      [routerLink]="['/lobby/portfolios/create']"
      class="cursor-pointer"
      color="var(--primary)"
      name="plus"
    ></svg-icon>

    <span [ngStyle]="{ color: 'var(--gray)' }" class="text-sm font-medium">
      No portfolio created yet. Start your first cloud advisory intake.
    </span>
  </div>
  } @else {
  <div class="flex flex-wrap gap-6">
    @for (portfolio of portfolios.slice(0, 3); track $index) {
    <div class="flex-[1_1_calc(33.333%_-_1rem)] max-w-[33.333%]">
      <portfolio-card
        (deletedPortfolioEvent)="updatePortfolio($event)"
        class="w-full"
        [portfolio]="portfolio"
      ></portfolio-card>
    </div>
    }
  </div>

  @if (portfolios.length > 3) {
  <div class="mt-10">
    <table-cdk
      [dataSource]="portfolios.slice(3)"
      [columns]="portfolioColumns"
    ></table-cdk>
  </div>
  } }
</lobby-sub-page-layout>
