<section
  class="w-full min-h-screen flex flex-col items-center justify-start px-6 py-24 bg-gray-50 space-y-20"
>
  <!-- Heading / Blurb Section -->
  <div class="max-w-3xl text-center space-y-4">
    <h1 class="text-4xl font-bold text-gray-800">Welcome Back to EASE</h1>
    <p class="text-gray-600 text-lg">
      Get tailored cloud advisory and early-stage cost estimates in minutes.
      Start your intake to accelerate planning and align with enterprise
      standards.
    </p>
  </div>

  <!-- Card and Image Section -->
  <div
    class="w-full flex flex-col-reverse lg:flex-row items-center justify-center gap-12"
  >
    <!-- Form Card -->
    <div
      class="bg-white rounded-2xl shadow-xl w-full max-w-md p-8 space-y-6 border border-gray-200"
    >
      <h2
        [ngStyle]="{ color: 'var(--primary)' }"
        class="text-2xl font-bold text-center"
      >
        Login to your account
      </h2>

      <form
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
        class="space-y-4 flex flex-col items-start justify-start w-full"
      >
        <formfield
          class="w-full"
          label="email"
          type="email"
          placeholder="Email address"
          name="email"
          formControlName="email"
        ></formfield>

        <formfield
          class="w-full"
          label="password"
          type="password"
          placeholder="Password"
          name="password"
          formControlName="password"
        ></formfield>

        <button-custom
          class="w-full mt-4"
          name="login"
          type="submit"
          size="large"
          backgroundColor="var(--secondary)"
          color="#ffffff"
          fontWeight="bold"
          [disabled]="loginForm.invalid"
        >
          <div class="flex flex-row items-center justify-center space-x-2">
            @if (isLoading()) {
            <svg-icon
              [ngClass]="{ 'animate-spin': isLoading() }"
              class="duration-[3000]"
              color="#ffffff"
              name="loader"
            ></svg-icon>
            }
            <span>login</span>
          </div>
        </button-custom>
      </form>

      <p class="text-sm text-center text-gray-600">
        Don't have an account?
        <a
          [ngStyle]="{ color: 'var(--primary)' }"
          [routerLink]="['/', 'home', 'signin']"
          class="hover:underline font-bold"
        >
          Signin
        </a>
      </p>
    </div>

    <!-- Image -->
    <div class="w-full max-w-md">
      <img
        src="/images/login_image.svg"
        alt="Login illustration"
        class="w-full h-auto"
      />
    </div>
  </div>
</section>
