<!-- <form [id]="id()" [formGroup]="requestorInformationForm">
  <div
    class="bg-[var(--background)] border border-[var(--primary)] p-10 rounded-lg shadow-lg space-y-6 relative"
  >
    <div class="flex flex-row items-center justify-start space-x-2">
      <svg-icon size="36px" color="var(--secondary)" name="info"></svg-icon>
      <h2 class="text-2xl font-bold">Requestor Information</h2>
    </div>

    @if (requestorInformationForm.valid) {
    <svg-icon
      @fadeInOut
      color="var(--success)"
      name="valid"
      class="absolute top-4 right-4"
      size="32px"
    ></svg-icon>
    }

    <div>
      <formfield
        label="Requestor Name"
        name="name"
        formControlName="name"
      ></formfield>
    </div>

    <div>
      <formfield
        label="Branch/Division"
        name="branch"
        formControlName="branch"
      ></formfield>
    </div>

    <div>
      <formfield label="Title" name="title" formControlName="title"></formfield>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <formfield
          label="Email"
          name="email"
          formControlName="email"
        ></formfield>
      </div>
      <div>
        <formfield
          label="Phone"
          name="phone"
          formControlName="phone"
        ></formfield>
      </div>
    </div>
  </div>
</form> -->

<intake-form-card
  [form]="requestorInformationForm"
  icon="info"
  title="Requestor Information"
  (formChangEvent)="onFormUpdate($event)"
>
  <form
    [formGroup]="requestorInformationForm"
    class="flex flex-col items-start justify-start space-y-6"
  >
    <formfield
      class="w-full"
      label="Requestor Name"
      name="name"
      formControlName="name"
    ></formfield>

    <formfield
      class="w-full"
      label="Branch/Division"
      name="branch"
      formControlName="branch"
    ></formfield>

    <formfield
      class="w-full"
      label="Title"
      name="title"
      formControlName="title"
    ></formfield>

    <div class="flex flex-row justify-start items-center space-x-4 w-full">
      <formfield
        class="w-[50%]"
        label="Email"
        name="email"
        formControlName="email"
      ></formfield>
      <formfield
        class="w-[50%]"
        label="Phone"
        name="phone"
        formControlName="phone"
      ></formfield>
    </div>
  </form>
</intake-form-card>
