<intake-form-card
  (formChangEvent)="onFormUpdate($event)"
  [form]="projectDetailsForm"
  title="Project Details"
  icon="project"
>
  <form
    [formGroup]="projectDetailsForm"
    class="flex flex-col items-start justify-start space-y-6"
  >
    <formfield
      class="w-full"
      label="Proposed Name of Initiative"
      name="initiativeName"
      formControlName="initiativeName"
    ></formfield>

    <select-input
      class="w-full"
      formControlName="typeOfRequest"
      name="typeOfRequest"
      label="Type of Request"
      [options]="[
        { label: 'New SaaS Acquisition', value: 'newSaaSAcquisition' },
        {
          label: 'Cloud-native Application',
          value: 'cloudNativeApplication'
        },
        { label: 'Cloud Migration', value: 'cloudMigration' },
        {
          label: 'Change to Existing System',
          value: 'changeToExisitingSystem'
        },
        { label: 'Proof of Concept / Pilot', value: 'proofOfConceptOrPilot' }
      ]"
    />

    <textaera-input
      class="w-full"
      label="Brief Description of Solution"
      name="solutionDescription"
      formControlName="solutionDescription"
    ></textaera-input>

    <textaera-input
      class="w-full"
      label="Target Users / Stakeholders"
      name="targetUsersAndStakeholders"
      formControlName="targetUsersAndStakeholders"
    ></textaera-input>

    <formfield
      class="w-full"
      label="Number of End Users (estimated)"
      name="numberOfEndUsers"
      formControlName="numberOfEndUsers"
      type="number"
    ></formfield>

    <select-input
      class="w-full"
      formControlName="isSolutionAlreadyIdentified"
      name="isSolutionAlreadyIdentified"
      label="Has a technical solution already been identified?"
      [options]="[
        { label: 'Yes', value: 'yes' },
        { label: 'No', value: 'no' }
      ]"
    />

    <select-input
      class="w-full"
      formControlName="isVendorAlreadyIdentified"
      name="isVendorAlreadyIdentified"
      label="Is there a vendor already identified?"
      [options]="[
        { label: 'Yes', value: 'yes' },
        { label: 'No', value: 'no' }
      ]"
    />

    <textaera-input
      class="w-full"
      label="Are there existing tools/platforms being considered?"
      name="isExisitingToolsOrPlatformsConsidered"
      formControlName="isExisitingToolsOrPlatformsConsidered"
    ></textaera-input>

    <textaera-input
      class="w-full"
      label="Current pain points with existing system (if any)"
      name="currentPainPoints"
      formControlName="currentPainPoints"
    ></textaera-input>
  </form>
</intake-form-card>
