@let intake = intake_(); @if (intake) {
<lobby-sub-page-layout
  [title]="`Intake Overview: ${intake.projectDetails.initiativeName}`"
>
  <div class="grid grid-cols-2 gap-x-6 gap-y-4 mt-6">
    <formfield
      label="Intake ID"
      name="intakeId"
      [disabled]="true"
      [initialValue]="intake.id!"
      color="var(--gray)"
      labelColor="var(--primary)"
    ></formfield>

    <formfield
      label="Created On"
      name="createdOn"
      [disabled]="true"
      [initialValue]="(intake.createdOn.seconds | date : 'longDate') ?? ''"
      color="var(--gray)"
      labelColor="var(--primary)"
    ></formfield>

    <formfield
      label="Created By"
      name="createdBy"
      [disabled]="true"
      [initialValue]="`${intake.givenName!} ${intake.familyName!}`"
      color="var(--gray)"
      labelColor="var(--primary)"
    ></formfield>

    <formfield
      label="Email"
      name="email"
      [disabled]="true"
      [initialValue]="intake.email"
      color="var(--gray)"
      labelColor="var(--primary)"
    ></formfield>

    @let isArchProp = intake.isArchProposal;

    <button
      [style.backgroundColor]="isArchProp ? 'var(--success)' : 'var(--accent)'"
      class="text-white font-bold px-4 py-2 rounded-lg text-sm flex items-center justify-center cursor-pointer mt-6"
    >
      {{
        isArchProp
          ? 'View Architecture Proposal'
          : 'Create Archiecture Proposal'
      }}
    </button>
  </div>

  <div class="mt-10 space-y-6">
    @for (section of sections; track section.title) {
    <accordion [title]="section.title">
      <div class="pl-4 mt-3 space-y-2">
        @for (field of section.fields; track field.label) {
        <ng-container
          *ngTemplateOutlet="intakeFieldRef; context: field"
        ></ng-container>
        }
      </div>
    </accordion>
    }
  </div>
</lobby-sub-page-layout>
}

<ng-template
  #intakeFieldRef
  let-label="label"
  let-value="value"
  let-isArray="isArray"
>
  <div
    [ngClass]="{ 'items-start': isArray }"
    class="flex flex-row items-center justify-start gap-x-2"
  >
    <span class="text-sm font-semibold capitalize text-[var(--secondary)]"
      >{{ label }}:</span
    >

    @if (isArray) {
    <ul class="list-disc pl-4 text-sm text-[var(--gray)]">
      @for (item of value; track $index) {
      <li>{{ item }}</li>
      }
    </ul>
    } @else {
    <p class="text-sm text-[var(--gray)]">{{ value }}</p>

    }
  </div>
</ng-template>
