<section
  [ngStyle]="{ backgroundColor: 'var(--background)' }"
  class="relative w-full min-h-screen flex items-center justify-center px-6 py-12 overflow-hidden"
>
  <!-- Decorative Top Wave -->
  <div class="absolute top-0 left-0 w-full h-full z-20 pointer-events-none">
    <img
      src="/images/wave.svg"
      alt="Top Decorative Shape"
      class="w-full h-full object-cover opacity-15"
    />
  </div>

  <!-- Decorative Bottom Wave -->
  <div class="absolute bottom-0 left-0 w-full z-10 pointer-events-none">
    <img
      src="/images/wave_2.svg"
      alt="Bottom Decorative Shape"
      class="w-full h-full object-cover opacity-15"
    />
  </div>

  <!-- Main Content -->
  <div class="w-full flex flex-row items-center px-16 space-x-6 mb-36">
    <!-- Left content -->
    <div class="">
      <h1
        [ngStyle]="{ color: 'var(--primary)' }"
        class="text-4xl lg:text-5xl font-bold leading-tight mb-6"
      >
        Enterprise Architecture Services & Enablement
      </h1>
      <p [ngStyle]="{ color: 'var(--text)' }" class="text-lg mb-6 max-w-xl">
        EASE brings together governance, expert advisory, and service catalog
        capabilities into a unified, purpose-driven platform. It is
        strategically designed to empower transformation initiatives, foster
        architectural discipline, and ensure alignment across enterprise
        solutions—enabling organizations to navigate complexity with clarity,
        consistency, and confidence.
      </p>
      <div class="flex flex-col sm:flex-row gap-4">
        <button-custom
          [routerLink]="['/', 'home', 'signin']"
          name="started"
          color="#ffffff"
          backgroundColor="var(--accent)"
          size="large"
          customPadding="10px 20px"
          fontWeight="bold"
          >get started</button-custom
        >
        <button-custom
          name="learn"
          variant="default"
          color="#000000"
          size="large"
          customPadding="10px 20px"
          fontWeight="bold"
          >Learn more</button-custom
        >
      </div>
    </div>

    <!-- Right image -->
    <div class="flex justify-center">
      <img
        [src]="
          isDarkMode_() ? 'images/programmer_dark.svg' : 'images/programmer.svg'
        "
        alt="Enterprise Architecture Illustration"
        class="max-w-[80%] h-auto"
      />
    </div>
  </div>
</section>
