<section
  [ngStyle]="{ backgroundColor: 'var(--background)' }"
  class="w-full h-full min-h-screen py-20 px-6"
>
  <div class="max-w-7xl mx-auto flex flex-col items-center text-center">
    <h2
      [ngStyle]="{ color: 'var(--primary)' }"
      class="text-3xl lg:text-4xl font-bold mb-6"
    >
      Why Choose EASE?
    </h2>
    <p [ngStyle]="{ color: 'var(--gray)' }" class="text-lg max-w-2xl mb-12">
      EASE is purpose-built to support architecture governance and advisory
      workflows with integrated service catalog access — all from one powerful
      platform.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-left w-full">
      @for (card of cardProps; track $index) {
      <div
        [ngStyle]="{ backgroundColor: 'var(--background)' }"
        class="p-6 rounded-xl border border-gray-200 shadow-md hover:shadow-xl transition hover:-translate-y-1 duration-300"
      >
        <div class="mb-4 rounded-full w-fit">
          <svg-icon
            size="32px"
            color="var(--secondary)"
            [name]="card.icon"
          ></svg-icon>
        </div>
        <h3
          [ngStyle]="{ color: 'var(--accent)' }"
          class="text-xl font-semibold mb-2"
        >
          {{ card.title }}
        </h3>
        <p [ngStyle]="{ color: 'var(--text)' }" class="text-sm">
          {{ card.description }}
        </p>
      </div>
      }
    </div>
  </div>
</section>
