<intake-form-card
  title="Financial and Procurement"
  icon="finance"
  (formChangEvent)="onFormUpdate($event)"
  [form]="finacialAndProcurmentForm"
>
  <form
    [formGroup]="finacialAndProcurmentForm"
    class="flex flex-col items-start justify-start space-y-6"
  >
    <div class="w-full flex flex-row items-center justify-start space-x-4">
      <select-input
        class="w-[50%]"
        name="isFundingSecured"
        formControlName="isFundingSecured"
        label="Is funding secured for this initiative?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'Partially', value: 'partially' },
          { label: 'No', value: 'no' }
        ]"
      />

      <formfield
        class="w-[50%]"
        label="Estimated Total Budget"
        name="estimatedTotalBudget"
        formControlName="estimatedTotalBudget"
      ></formfield>
    </div>

    <select-input
      class="w-full"
      name="fundingSource"
      formControlName="fundingSource"
      label="Funding Source"
      [options]="[
        { label: 'Internal', value: 'internal' },
        { label: 'Grant', value: 'grant' },
        { label: 'Donation', value: 'donation' },
        { label: 'Special Allocation', value: 'specialAllocation' }
      ]"
    />

    <select-input
      class="w-full"
      name="licenseOrCloudServicesNeeded"
      formControlName="licenseOrCloudServicesNeeded"
      label="Are new licenses or cloud services needed?"
      [options]="[
        { label: 'Yes', value: 'yes' },
        { label: 'No', value: 'no' }
      ]"
    />

    <checkbox-group
      class="w-full"
      label="Procurement Type"
      name="procurementType"
      formControlName="procurementType"
      [options]="['SaaS', 'IaaS', 'PaaS', 'Consulting Services', 'Licenses']"
    ></checkbox-group>

    <div class="w-full flex flex-row items-center justify-start space-x-4">
      <select-input
        class="w-[50%]"
        name="hasProcurementVehicleIdentified"
        formControlName="hasProcurementVehicleIdentified"
        label="Has a procurement vehicle been identified?"
        [options]="[
          { label: 'Yes', value: 'yes' },
          { label: 'No', value: 'no' }
        ]"
      />

      <formfield
        class="w-full"
        label="Expected Procurement Timeline"
        formControlName="expectedProcurementTimeline"
        name="expectedProcurementTimeline"
        type="date"
      ></formfield>
    </div>

    <select-input
      class="w-full"
      name="isCostEstimationSupportRequire"
      formControlName="isCostEstimationSupportRequire"
      label="Do you require support with cost estimation?"
      [options]="[
        { label: 'Yes', value: 'yes' },
        { label: 'No', value: 'no' }
      ]"
    />
  </form>
</intake-form-card>
